@font-face {
    font-family: 'spaceFont';
    src: url('fonts/spaceFont.ttf') format('truetype');
}

body {
    margin: 0;
}

#navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar-title {
    margin: 4px;
    font-size: 28px;
    text-align: center;
    font-family: 'spaceFont', sans-serif;
}